html {
  position: relative;
  min-height: 100%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete{
    display: inline;
}
.flex {
  	display: flex;
  	flex-wrap: wrap;
}
#map {
    height: 400px;
    width: 100%;
}